#board-wrapper {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: white;
  border: 1px solid white;
  margin: 50px 50px;
}

#board-wrapper > .square{
  border: 1px solid black;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

body{
  background-color: black;
}
