#board-wrapper {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: white;
  border: 1px solid white;
  margin: 50px 50px;
}

#board-wrapper > .square{
  border: 1px solid black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square > img {
  height: calc(100% / 1.5);
  width: calc(100% / 1.5);
}

.placing > .square:hover {
  background-color: #555;
}


.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
}

body{
  background-color: black;
}

@media screen and (max-width: 1415px) {
  #board-wrapper {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 1136px) {
  #board-wrapper {
    margin: 5px 5px;
  }
}


@media screen and (max-width: 550px) {
  #board-wrapper {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 350px) {
  #board-wrapper {
    width: 200px;
    height: 200px;
  }
}
